<p>test4component works! <b> Signals </b> </p>
<p>Query String Id Parametresi : {{id}} || Query String Name Parametresi : {{name}} </p>
<h2>{{count2}} || {{count()}} || <a>Computed</a> {{countPlus()}}</h2>
<br>
<button (click)="increment()">+</button>
<button (click)="decrement()">-</button>
<button (click)="clear()">Clr</button>
<hr>

<table border="1" cellpadding="10">
  <tr>
    <th>Normal</th>
    <th>Signals</th>
  </tr>
  <tr>
    <td>
      <ul>
        <li *ngFor="let item of results2">{{item}}</li>
      </ul>
    </td>
    <td>
      <ul>
        <li *ngFor="let item of results()">{{item}}</li>
      </ul>
    </td>
  </tr>
</table>
