.container {
  margin-top: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table, .table th, .table td {
  border: 1px solid black;
}

.table th, .table td {
  padding: 10px;
  text-align: left;
}
