<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>

<p>webapi works!</p>
<div class="row mt-2">
  <button class="btn btn-primary" (click)="getApi1()">Get V1</button>
  <button class="btn btn-primary mt-2" (click)="getApi2()">Get V2</button>
  <button class="btn btn-primary mt-2" (click)="postApi()">Post</button>
  <button class="btn btn-primary mt-2" (click)="getApiGeneric()">Get Generic</button>
  <button class="btn btn-primary mt-2" (click)="postApiGeneric()">Post Generic</button>
  <button class="btn btn-primary mt-2" (click)="getApiInterceptor()">Error Interceptor</button>
</div>
<div class="container">
  <h2>Users Table</h2>
  <table class="table" *ngIf="users.length">
    <thead>
      <tr>
        <th>User ID</th>
        <th>ID</th>
        <th>Title</th>
        <th>Completed</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users | paginate:{itemsPerPage:10,currentPage:p}">
        <td>{{ user.userId }}</td>
        <td>{{ user.id }}</td>
        <td>{{ user.title }}</td>
        <td>{{ user.completed }}</td>
      </tr>
      <pagination-controls (pageChange)="p = $event" previousLabel="Önceki"></pagination-controls>
    </tbody>
  </table>
</div>
