<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true"
  *ngIf="isLoading">
  <p style="color: white"> Loading... </p>
</ngx-spinner>

<div class="row d-flex justify-content-center" style="margin-top:100px;">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h1>Login Page</h1>
      </div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control" [(ngModel)]="email">
          </div>
          <div class="form-group mt-2">
            <label for="password" class="form-label">Password</label>
            <input autocomplete="off" appValidationdirective type="password" id="password" name="password"
              class="form-control" required minlength="3" [(ngModel)]="password">
            <div class="error-message"></div>
          </div>
          <div class="form-group mt-2 btn-container">
            <button class="btn btn-primary" (click)="login()">Giriş Yap</button>
            <asl-google-signin-button type='icon' size='large'></asl-google-signin-button>
            <a style="float: right;">Kayıt ol</a>
          </div>
        </form>
      </div>
    </div>
  </div>
