.invalid {
  color: red;
  width: 100%; /* Giriş alanının genişliğini ayarla */
}

.valid {
  color: green;
  width: 100%; /* Giriş alanının genişliğini ayarla */
}

.card-body {
  padding: 20px; /* Kartın içindeki alanları ayarla */
}

.btn-container {
  display: flex;
  align-items: center;
  //justify-content: space-between; /* Aralarındaki boşluğu eşit dağıtır */
  gap: 10px; /* Butonlar arasına 10px boşluk ekler */
  margin-left: 10px; /* Sol tarafa boşluk ekle */
}

.error-message {
  color: red;
  height: 20px; /* Sabit yükseklik */
  min-height: 20px; /* Minimum yükseklik ayarla */
  line-height: 15px; /* Dikey merkezleme için */
  margin-top: 5px; /* Hata mesajı ile giriş alanı arasında boşluk */
  margin-bottom: auto;
  width: 100%;
}

.form-control {
  width: 100%; /* Giriş alanının genişliğini ayarla */
  padding: 8px; /* İç boşluk ekle */
  box-sizing: border-box; /* Padding ve border hesaplamaları için */
  height: 40px; /* Sabit yükseklik ayarla */
  transition: border-color 0.3s; /* Sınır renginde geçiş animasyonu ekle */
  min-height: 40px; /* Minimum yükseklik ayarla */
}

.form-group {
  margin-bottom: 15px; /* Alanlar arasında boşluk */
}

.form-label {
  display: block; /* Label'ın alt satıra geçmesini sağlar */
  margin-bottom: 5px; /* Label ile input arasında boşluk */
}
