<p>test2 works!</p>
<input id="name" name="name" (keyup)="getValue()" />
<input id="surname" name="surname" (keyup)="getValueTwo($event)" />
<input id="mail" name="mail" #mail (keyup)="getValueThreee()" />
<p></p>
<p class="alert alert-warning text-center">{{message}}</p>
<div class="row mt-2">
  <button (click)="setMark(index)" style="border: 1px solid #ccc; height:120px" class="col-md-4 text-center btn" [ngClass]="changeClass(index)"
    *ngFor="let kutucuk of kutucuks let index=index">
    <span style="font: size 80px;">X</span>
  </button>
</div>

