<p>State-Management Component works!</p>

<div class="row mt-2">
<input name="stateMan" type="text" style="width: 30%;"  [(ngModel)]="name">
<p>{{name}}</p>
<button (click)="changeName()">İsmi Değiştir StateManagement Output</button>
</div>


<div class="row mt-2">
<h4>State Management Input / Output List</h4>
<ul>
   <li *ngFor="let todo of todoss">
         {{todo}}
   </li>
</ul>
</div>
