<p>reactive-form works!</p>
<h3>Reactive Form İle Personel Ekleme</h3>

<div *ngIf="!isUpdateFormActive">
  <form [formGroup]="addForm">
    <div>
      Personel Adı
      <input formControlName="name" type="text">
    </div>
    <div>
      Bölümü
      <select formControlName="profession">
        <option>Muhasebe</option>
        <option>Yazılım</option>
        <option>Turizm</option>
      </select>
    </div>
    <div>
      İşe Giriş Tarihi
      <input formControlName="startingDate" type="date">
    </div>
    <div>
      <button [disabled]="!addForm.valid" (click)="Kaydet()">Kaydet</button>
    </div>
  </form>
</div>

<diV *ngIf="isUpdateFormActive">
  <form [formGroup]="updateForm">
    <div>
      Personel Adı
      <input formControlName="name" type="text">
    </div>
    <div>
      Bölümü
      <select formControlName="profession">
        <option>Muhasebe</option>
        <option>Yazılım</option>
        <option>Turizm</option>
      </select>
    </div>
    <div>
      İşe Giriş Tarihi
      <input formControlName="startingDate" type="date">
    </div>
    <div>
      <button [disabled]="!updateForm.valid" (click)="update()">Güncelle</button>
      <button  (click)="cancel()">Vazgeç</button>
    </div>
  </form>
</diV>


<hr>
<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Personel Adı</th>
      <th>|</th>
      <th>Bölümü</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let e of employees let i = index">
      <td>{{i+1}}</td>
      <td>{{e.name}}</td>
      <td>{{e.profession}}</td>
      <td>{{e.startingDate | date:'dd.MM.yyyy'}}</td>
      <td>
        <button  (click)="get(e,i)">Güncelle</button>
      </td>
    </tr>
  </tbody>
</table>
