.classinvalid {
  border: 1px solid red;
  border-radius: 10px;
}

.classvalid {
  border: 1px solid green;
  border-radius: 10px;
}

.custom-form-control {
  margin-bottom: 55; /* Alt boşluğu kaldır */
  padding-top: 20px; /* Yukarıdan boşluk ekleyin (10 piksel yerine istediğiniz bir değer olabilir) */
  margin-top: 20;
  margin-left: 20px;
}

.redClass{
 color:red;
}

.blueClass{
  color:blue;
}
