<body>
<p>
<h4 [class]="pClassName">Test 1 Component Property Binding </h4>
<input id="adress" [(ngModel)]="adress" />
<button class="btn btn-primary" (click)="getAdress()">Tıkla</button>
<h1 appRenklendir="green" test="Directive Konusu">appRenklendirme Directive</h1>
<h4>Directive Input</h4>

<form>
  <div class="row">
    <div class="col">
      <!--Tekli Validate-->
      <!--<input #name [appValid]="name.validity.valid" id="directive" required minlength="0" maxlength="1">-->
      <input type="text" #firstInput [appValid]="firstInput.validity.valid" appCustomDirective
        (validChange)="firstValid = $event" id="directive" required minlength="0" maxlength="1" class="form-control">
      <div>First Input Valid: {{ firstValid }}</div>
      <div class="invalid-feedback">
        Zorunlu Alan!
      </div>
    </div>
  </div>
  <div class="row mt-3"></div> <!-- Boş div'i kaldırabiliriz -->
  <div class="row">
    <div class="col">
      <!--Tekli Validate-->
      <!-- <input type="text" #name [appValid]="name.validity.valid" required minlength="3" maxlength="10" class="form-control">-->
      <input type="text" #secondInput [appValid]="secondInput.validity.valid" appCustomDirective
        (validChange)="secondValid = $event" id="directivetwo" required minlength="3" maxlength="10"
        class="form-control">
      <div>Second Input Valid: {{ secondValid }}</div>
    </div>
  </div>
</form>

<div class="row mt-2">
  <h2>Structural Directive</h2>
  <h3 *appStructural="result">Result</h3>
  <h3 *appStructural="!result">None Result</h3>
  <button class="btn btn-primary" (click)="result = !result">Göster/Gizle</button>
</div>

<div class="row mt-2">
  <button class="btn btn-primary" (click)="goPage()">Go To Test2 Component</button>
</div>


<div class="row mt-2">
  <!--<app-state-management name="Örnek"></app-state-management>!-->
  <app-state-management [name]="name" [todoss]="todoss" (changeNameEvent)="changeName($event)"></app-state-management>
  <p><b>Ana Komponentt</b></p>
  <strong>{{name}}</strong>

 <input [(ngModel)]="work">
  <button class="btn btn-secondary" (click)="add()">Kaydet</button>
</div>
</body>
