<p>servicetest1 works!</p>
<div>
  <input name="cemil" type="text" [(ngModel)]="services.work">
  <button class="btn btn-outline-primary" (click)="services.saveServices()">Save</button>
</div>
<div>
  <ul>
    <app-servicetest2></app-servicetest2>
  </ul>
</div>
