
.container {
  display: flex;
  flex-direction: column; /* Bileşenleri dikey olarak sıralar */
  gap: 20px; /* Bileşenler arasında boşluk bırakır */
}

.component2 {
  width: 100%;
  margin-top: 20px; /* Üstteki bileşenin altında boşluk bırakır */
}
