<p>ng-form works!</p>
<h3>NG Form İle Personel Ekleme</h3>
<div>
  <form *ngIf="!isUpdateFormActive" #addForm="ngForm" (ngSubmit)="save(addForm)" autocomplete="off">
    <div>
      Personel Adı
      <input type="text" name="name" [(ngModel)]="addModel.name" required minlength="3">
    </div>
    <div>
      Bölümü
      <select name="profession" [(ngModel)]="addModel.profession" required>
        <option>Muhasebe</option>
        <option>Yazılım</option>
        <option>Turizm</option>
      </select>
    </div>
    <div>
      İşe Giriş Tarihi
      <input type="date" name="startingDate" [(ngModel)]="addModel.startingDate" required>
    </div>
    <div>
      <button [disabled]="!addForm.valid">Kaydet</button>
    </div>
  </form>
  <form *ngIf="isUpdateFormActive" #updateForm="ngForm" (ngSubmit)="update(updateForm)" autocomplete="off">
    <div>
      Personel Adı
      <input type="text" name="updatename" [(ngModel)]="updateModel.name" required minlength="3">
    </div>
    <div>
      Bölümü
      <select name="updateprofession" [(ngModel)]="updateModel.profession" required>
        <option>Muhasebe</option>
        <option>Yazılım</option>
        <option>Turizm</option>
      </select>
    </div>
    <div>
      İşe Giriş Tarihi
      <input type="date" name="updatestartingDate" [(ngModel)]="updateModel.startingDate" required>
    </div>
    <div>
      <button [disabled]="!updateForm.valid">Kaydet</button>
      <button (click)="cancel()">Vazgeç</button>
    </div>
  </form>
  <hr>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Personel Adı</th>
        <th>Bölümü</th>
        <th>İşe Giriş Tarihi</th>
        <th>İşlemler</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of employees let i = index">
        <td>{{i+1}}</td>
        <td>{{e.name}}</td>
        <td>{{e.profession}}</td>
        <td>{{e.startingDate | date:'dd.MM.yyyy'}}</td>
        <td>
          <button (click)="get(e,i)">Güncelle</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
