<div class="form-group">
 <p>Sidebar Works</p>
</div>
<div class="form-group" style="display: flex; justify-content: flex-end;">
 <button class="btn btn-primary" (click)="logout()">Çıkış Yap</button>
</div>


