<h1>Kredi Hesaplama</h1>
<div>
  <label>Kredi Tutarı</label>
  <input [(ngModel)]="krediTutari">
</div>
<div>
  <label>Taksit Sayısı</label>
  <select [(ngModel)]="taksitSayisi">
    @for (data of taksitler; track $index) {
    <option>{{data}}</option>
    }
  </select>
</div>
<div>
  <button (click)="hesapla()">Hesapla</button>
  <h2>{{result}}</h2>
</div>
<div>
  <table>
    <thead>
      <tr>
        <th>Taksit</th>
        <th>Taksit Tutarı</th>
        <th>Kalan Geri Ödeme</th>
      </tr>
    </thead>
    <tbody>
      @for(data of odemePlani; track data) {
      <tr>
        <td>{{$index+1}}</td>
        <td>{{data.taksitTutari}}</td>
        <td>{{data.kalanGeriOdeme}}</td>
      </tr>
      }
    </tbody>
  </table>
</div>

<div class="card mt-2">
  <div class="card-footer">
    <h3>NgRx Action And Reduce State Management</h3>
    <button class="btn btn-primary" (click)="increment()">Increment</button>
    <div>Current Count: {{ count$ | async }}</div>
    <button class="btn btn-primary" (click)="decrement()">Decrement</button>
    <button class="btn btn-primary" (click)="reset()">Reset Counter</button>
  </div>
</div>
