<div *ngIf="!updateFormActive">
  <div class="form-group">
    <label for="work">Yapılacak iş</label>
    <input type="text" class="form-control" [ngClass]="changeInputClass()" id="work" name="work" [(ngModel)]="work">
    <div class="invalid-feedback">
        En Az 3 karakter Girilmelidir
    </div>
    <!--Uppercase,lowercase,titlecase,date:'dd.mm.yyyy HH:mm:ss' bunlar Anguların kendi pipeleri-->
    <p>{{name | name}}  {{surname | uppercase}}   {{date | date:'dd.MM.yyyy HH:mm:ss'}} {{salary | currency:'TRY':'symbol-narrow':'1.2-2'}} {{salary | trCurrency:'£':true}}</p>
    <input type="text" class="form-control" [(ngModel)]="search" placeholder="Ara...">
    <div class="form-group mt-2">
      <button [disabled]="work.length < 3" class="btn btn-outline-primary w-100" (click)="save()">Kaydet</button>
    </div>
    <hr>
    <ul>
      <li class="mt-1" *ngFor="let element of works | todo:search; let i = index">
        {{element}}
        <div  *ngIf="!updateFormActive">
        <button class="btn btn-outline-warning btn-sm mx-1" (click)="get(element,i)">Güncelle</button>
        <button class="btn btn-outline-danger btn-sm" (click)="remove(i)">Sil</button>
      </div>
      </li>
    </ul>
  </div>
</div>

<div *ngIf="updateFormActive">
  <div class="form-group">
    <label for="updateWork">Yapılacak iş</label>
    <input type="text" class="form-control" id="updateWork" name="updateWork" [(ngModel)]="updateWork">
    <div class="form-group mt-2">
      <button class="btn btn-outline-warning w-100 " (click)="update()">Güncelle</button>
      <button class="btn btn-outline-danger w-100 mt-2" (click)="cancel()">İptal</button>
    </div>
    <hr>
    <ul>
      <li class="mt-1" *ngFor="let element of works | todo:search; let i = index">
        {{element}}
      </li>
    </ul>
  </div>
</div>
