<nav class="navbar navbar-expand-lg bg-primary data-bs-toggle" data-bs-theme="dark">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
          aria-expanded="false"><img src="/assets/brand/bootstrap-logo.svg" alt="Logo" width="30" height="24"
            class="d-inline-block align-text-top">
          Test Items
        </button>
        <ul class="dropdown-menu">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/"> Test Component</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="test2">Test2 Component</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/test3">Test3 Component</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/test4">Test4 Component</a>
          </li>
        </ul>
      </div>
      <li class="nav-item">
        <a class="nav-link" routerLink="/reactive">Reactive Form Component</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/todo">To Do App</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/credit">Kredi</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" aria-disabled="true" routerLink="/">Disable Component</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/service">Service Test 1-2 Component</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/webapi">Web Api Component</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ngform">Ng-Form Component</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/lazyloading">Lazy Loading Component</a>
      </li>
    </ul>
  </div>
</nav>
