<div class="card mt-4">
  <div class="card-header">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Test3 Component</li>
      </ol>
      @if(!isActive){
      <!-- eski if yapısı <button class="btn btn-primary" *ngIf="!isActive" (click)="changeStatus()">Aktif</button>-->
      <button class="btn btn-primary" (click)="changeStatus()">Aktif</button>
      }@else{
      <!-- eski if yapısı <button class="btn btn-primary" *ngIf="isActive" (click)="changeStatus()">Pasif</button>-->
      <button class="btn btn-primary" (click)="changeStatus()">Pasif</button>
      }
    </nav>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <input [(ngModel)]="meyve">
    <button class="btn btn-primary" (click)="listeEkle()">Listeye Ekle</button>
    <ul>
      @for(element of meyveler; track element){
      <!-- eski for yapısı <li *ngFor="let element of meyveler let i = index">{{i+1}} - {{element}}</li> -->
      <li>{{$index}} - {{element}} || İlk Kayıt mı {{$first}} || Son Kayıt mı {{$last}}</li>
      }@empty {
      <li>Listede Kayıt Bulunamadı</li>
      }
    </ul>
    <ul>
      @switch (role) {
      @case ('admin') {
      <li>Admin Rolü</li>
      }
      @case ('user') {
      <li>User Rolü</li>
      }
      @default {<li>Rolünüz Bulunamadı</li>}
      }
    </ul>
    <ul>
      <button class="btn btn-primary" (click)="showComment = true">Component Yukle</button>
      @defer (when showComment) {
      <app-comment></app-comment>
      }@loading {
      Component gösterilmeye baslarken yükleme esnasında burası gozukur
      }@placeholder {
      Component eğer gösterilmiyorsa yani sart saglanmıyorsa burası gozukur
      }@error {
      Eğer bir hata alındıysa burası gozukur
      }
    </ul>
  </div>
</div>

<div class="card mt-4">
  <div class="card-footer">
    <h3>Users Komponente Gönder NG-RX State Management</h3>
    <input [(ngModel)]="user.name">
    <input [(ngModel)]="user.surname">
    <button class="btn btn-primary" (click)="add()">Kaydet</button>
     <app-users></app-users>
  </div>
</div>
